{% extends 'homepage/adminindex.html' %}
{% block body %}

{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><a href="manage_expert">Add and manage expert </a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="view_student">View students</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="manage_agency">Add and manage agency</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="block_and_unblock">Block and unblock agency</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="view_feedback_and_rating">View feedback and rating </a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="add_notification">Send notification</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td><a href="view_complaint_and_sendreply">view complaint and send reply</a></td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#      <td><a href="#">Logout</a></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock  %}
