{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}


{% extends 'homepage/adminindex.html' %}
{% block body %}



<body>
<form id="form1" name="form1" method="post" action="">
  <table width="254" border="1" class="table table-hover">

   <tr><td colspan="5" align = "center"><h2>VIEW COMPLAINT AND SEND REPLY</h2></td></tr>

    <tr>
      <th>User</th>
      <th>Complaint</th>
      <th>Date</th>
      <th>Reply</th>
    </tr>
   {% for i in val %}
    <tr>
      <td>{{ i.LOGIN.username}}</td>
      <td>&nbsp;{{ i.complaint}}</td>
      <td>{{ i.date}}</td>
        {% if i.reply == 'pending' %}
        <td><a href="reply/{{ i.id }}#about">reply</a> </td>
        {% else %}
      <td>{{ i.reply}}</td>
    {% endif %}

    </tr>
       {% endfor %}
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
