{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{% extends 'student module/sindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="253" border="1">
    <tr>
      <td colspan="5">date
        <label>
        <input type="text" name="textfield" />
      </label>
        <label>
        <input type="submit" name="Submit" value="go" />
      </label></td>
    </tr>
    <tr>
      <td width="25">slno</td>
      <td width="37">doubt</td>
      <td width="44">agency</td>
      <td width="31">reply</td>
      <td width="104">date</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
	<tr>
      <td colspan="5"><label>
        <div align="center"><a href="#">add</a></div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
