{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{% extends 'student module/sindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
</form>
{#<table width="200" border="1">#}
{#  <tr>#}
{#    <td><a href="view_tips">view tips</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="view_job_vaccancy_and_apply">view job vaccancy and apply</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="chat_with_expert">chat with expert</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="view_videos">view videos</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="send_rating_and_feedback1">send rating and feedback</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="send_complaint_and_view_reply1">send complaint and view reply</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="view_notifications">view notification</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="#">career prediction</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="#">upload resume</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="#">doubt clearance</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><a href="#">logout</a></td>#}
{#  </tr>#}
{#</table>#}
{#<a href="#"></a>#}
</body>
{#</html>#}
{% endblock %}