{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}


{% extends 'expert module/expertindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover">

   <tr><td colspan="7" align = "center"><h2>MANAGE TIPS</h2></td></tr>
    <tr>
      <th>Tips</th>
      <th>Date</th>
      <td>&nbsp;</td>
    </tr>
       {% for i in val %}

    <tr>
      <td>{{ i.tips }}</td>
      <td>{{ i.date }}</td>
          <td><a href="delete_tips/{{ i.id }}#about" class="btn btn-danger">delete</a></td>

    </tr>
       {% endfor %}

    <tr>
      <td colspan="3"><div align="center"><a href="add_tip#about" class="btn btn-primary">add</a></div></td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
