{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{% extends 'expert module/expertindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
    <table width="200" border="1" class="table table-hover">

   <tr><td colspan="7" align = "center"><h2> VIEW NOTIFICATION</h2></td></tr>
    <tr>
      <th colspan="3">Date

        <input type="date" name="textfield" />

        <input type="submit" name="Submit" value="search"  class="btn btn-primary"/>
      </th>
    </tr>
    <tr>
      <th width="38">Slno</th>
      <th width="98">Notification</th>
      <th width="107">Date</th>
    </tr>
       {% for i in val %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.notification}}</td>
      <td>{{ i.date}}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{#</html>#}
{% endblock %}