{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{% extends 'reg_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="s_registration_post">
  <table width="245" border="1" class="table table-striped">
    <tr>
      <td width="235">First name
      </td>
        <td>
        <input type="text" name="fname" class="form-control"  required pattern="[A-Z a-z.]{3,25}"/>
      </td>
    </tr>




      <tr>
      <td width="235">Last name
      </td>
        <td>
        <input type="text" name="lname"  class="form-control" required pattern="[A-Z a-z.]{1,25}"/>
      </td>
    </tr>



    <tr>
        <td>Dob</td>
	  <td>
        <input type="date" name="dob" class="form-control"  min="1990-01-01" max="2019-12-31" required/>
      </td>
    </tr>



      <tr>
        <td>Gender</td>
	  <td><input name="radiobutton" type="radio" value="male" checked/>
	    male
	      <input name="radiobutton" type="radio" value="female" />
        female</td>
    </tr>

            <tr>
        <td>Place</td>
	  <td>
        <input type="text" name="place" class="form-control" required pattern="[A-Z a-z.]{3,25}"/>
      </td>
    </tr>

    <tr>
      <td>Post</td><td>
        <input type="text" name="post" class="form-control" required pattern="[A-Z a-z.]{3,25}"/>
      </td>
    </tr>
    <tr>
      <td>Pin</td><td>
        <input type="text" name="pin" class="form-control" required pattern="[0-9]{6}" />
      </td>
    </tr>
    <tr>
      <td>Phno</td><td>
        <input type="number" name="phone" class="form-control" required pattern="[6789][0-9]{9}" />
      </td>
    </tr>
    <tr>
      <td>Email</td><td>
        <input type="email" name="email"  class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </td>
    </tr>
    <tr>
      <td>Profile</td><td>
        <input type="file" name="file" accept="image/jpeg,image.png" required />
      </td>
    </tr>
    <tr>
      <td>Username</td><td>
        <input type="text" name="username"  class="form-control" required pattern="[A-Z a-z.]{3,25}"/>
      </td>
    </tr>
    <tr>
      <td>Password</td><td>
        <input type="text" name="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
      </td>
    </tr>
    <tr align="center">
      <td colspan="2"><label>
        <div >
          <input type="submit" name="Submit" value="add"  class="btn btn-primary"/>
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
